<!-- <app-registration-form></app-registration-form> -->
<!-- <app-book></app-book>
<b> Using Observables!</b>
<h6 style="margin-bottom: 0">VALUES:</h6>
<div *ngFor="let value of myArray">{{ value }}</div>
<div style="margin-bottom: 0">ERRORS: {{ errors }}</div>
<div style="margin-bottom: 0">FINISHED: {{ finished }}</div>
<button style="margin-top: 2rem" (click)="fetchData()">Fetch Data</button> -->
<!-- <app-customer></app-customer> -->
<a routerLink="">home</a>
<br/>
<a routerLink="about">about</a><br>
<a routerLink="login">Login</a><br>
<a routerLink="user/10">Harshada</a><br>
<a routerLink="user/20">Daksh</a><br>

<router-outlet></router-outlet>
