<p>customer works!</p>
<ul class="books">
    <li *ngFor="let cust of customer">
      <span class="badge">{{cust.customerId}}</span> {{cust.name}}
    </li>
  </ul>
  <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>

  <form #custForm="ngForm" (ngSubmit)="getCustFormValue(custForm.value)" >
    Customer Id:<input type="text" ngModel name="customerId"> <br>
   Name: <input type="text" ngModel name="name"> <br>
   EmailId: <input type="text" ngModel name="emailId"> <br>
    <button>Add new</button>
  </form>
